
/**general settings**/

h1,h2,h3{
	text-shadow: 5px 5px 5px #ff0000;
}

h1 {
	font-size: 1.5em; /*24px*/
	width: 68.421053%; /*650px/960px*/
	float: left;
}

h2 {
	font-size: 1.125em; /*18px*/
}

p {
	opacity: .7;
}

a:link {
	color: #0000ff;
}

a:visited {
	color: #800080;
}

a:hover {
	color: #ff00ff;
}

a:active {
	color: #ff0000;
}

ul {
	list-style-type: none;
}

img {
	max-width: 100%;
}
body {
	width: 75.889328%; /*960px/1265px*/
	margin: 0 auto;
	background-color: #008080;
	font-family: 'Fondamento', cursive;
	font-size: 1em; /*16px*/
	overflow: scroll;
}
/**End General settings**/

header {
	width: 75.889328%; /*960px/1265px*/
	height: 80px;
	background-color: #f5deb3;
	margin: 25px 25px 25px 25px;
	padding: 10px;
}

section {
	width: 75.889328%; /*960px/1265px*/
	background-color: #f5deb3;
	padding: 10px;
	margin: 0 25px 0 25px;
}
aside {
	width: 75.889328%; /*960px/1265px*/
	background-color: #f5deb3;
	padding: 10px;
	margin: 0 25px 0 25px;
	}

article {
	width: 75.889328%; /*960px/1265px*/
	background-color: #f5deb3;
	padding: 10px;
	margin: 0 25px 0 25px;
}
footer {
	width: 75.889328%; /*960px/1265px*/
	background-color: #f5deb3;
	margin: 0 25px 25px 25px;
	padding: 10px;	
}

.columns {
	-moz-column-count: 3;    /**Firefox**/
	-webkit-column-count: 3;  /**Safari and Chrome**/
	column-count: 3;
}

/*navigation*/

header nav ul {
	background-color: #f5deb3;
	width: 31.25%; /*300/960*/
	clear: right;
	line-height: 1.5;
	margin: 0 auto; 
	padding: 0;
	overflow: hidden;
}

header nav ul li {
	width: 33.3333%; /*100/300*/
	float: left;
}

header nav ul li a {
	text-decoration: none;
	width: 33.3333%;
	display: block;
	height: 30px;
	text-align: center;
	line-height: 30px;
}	

header nav ul li a:link {
	color: #008080;
}

header nav ul li a:visited {
	background-color: #800080;
}

header nav ul li a:hover {
	background-color: #fff;
	
}

header nav ul li a:active {
	background-color: #000; 
}

article ul {
	border: 1px dashed #000;
	width: 93.75%; /*900px/960*/
	margin: 20px auto;	
	padding: 10px;
	overflow: hidden;
}

article ul li {
	float: left;
	margin-left: 20px;
}	

article ul li a {
	width: 100px;
	display: block;
}



/********Media Querries*********/

/**for media max width 480px**/
@media screen and (max-width: 480px) {
h1 {
	float: none;
}

h1,h2,h3 {
	text-align: center;
}

header {
	height: auto;
}
header nav ul {
	width: 100%;
	clear: none;
}
article ul {
	display: none;
}

}
 
/** for media max width 700px**/
@media screen and (max-width: 700px) {
h1 {
	float: none;
}

h1,h2,h3 {
	text-align: center;
}

header {
	height: auto;
}
header nav ul {
	width: 100%;
	clear: none;
}

}


/** for media max width 980px**/
@media screen and (max-width: 980px) {


header {
	height: auto;
}

